@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* CSS VARIABLES */
:root{
    --header-height:3rem;
    --nav-width:324px;

/* FONT */
    --main-font:'Poppins',sans-serif;
}
/* BASE */
*,::before,::after{
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    margin: var(--header-height) 0 0 0;
    background-color:#eae7dc;
    line-height: 1.6;
    overflow-x: hidden;

}
.section{
    padding: 1rem 0 2rem;
    min-height: 100vh;
}
.section-title{
    text-align: center;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    column-gap: 2rem;
    width: calc(100% 2rem);
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:#e98074;
    box-shadow: 0 2px 4px rgba(32, 32, 32, 0.349);
}
/* page1  */

.page1_container{
    height: calc(100vh - 3rem);
    align-items: center;
    z-index: 5;
    justify-content: center;
    display: flex;
}
.page1_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: #d8c3a5;
    height: 31rem;
    width: 20rem;
    position: relative;
    border-radius: 0.9rem;
}
.QR_container{
    position: relative;
    margin-top: -10rem;
    margin-bottom: 6.5rem;
    background-color: transparent;
    height: 14rem;
    width: 14rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.page1_input{
    position: fixed;
    border-radius: 2rem;
    border: 0.5px solid white;
    background-color: #fff;
    height: 2.4rem;
    font-size: 0.9rem;
    width: 16.9rem;
    position: relative;
    font-family: 'Poppins',sans-serif;
    top: -1.6rem;
    z-index: 1;
    transition: 0.8s linear;
}
.button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:4.6rem;
    margin-top: 1.2rem;
    width:10rem;
}
.button{
    position: relative;
    top: -1rem;
    height: 29px;
    border: none;
    background-color: #e8514f;
    box-shadow: 1px 2px 4px #e98074d2;
    border-radius: 1rem;
    padding: 1.5px 12px;
    color: white;
    transition: 0.3s linear;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s linear;
    cursor: pointer;   
}
.button-toggle{
    background-color: #d8c3a5;
    border: 2px solid #e98074;
}
.footer{
    position: fixed;
    bottom: 0;
    font-size: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text]{
    outline: none;
    text-align: center;
}
#qr-image{
    width: 99%;
    height: 99%;
    border-radius: 0.3rem;
    padding: 0.3rem;
    box-shadow: 0 2px 7px #d16a4a;
}

@media screen and (min-width:500px){
    .header{
        height: 4rem;
    }
    .page_btn{
        display: block;
        height: 2.4rem;
        margin-top: 1rem;
        padding: 4px;
        padding-left: 20px;
        border-radius: 2.5rem;
        font-size: 1.2rem;
        width: 7.2rem;
        font-weight: 600;
        box-shadow: 0 3px 2px #e8514f;
        background-color:#d8c3a5;
        text-transform: uppercase;
    }
    .QR_container:hover{
        box-shadow:0 4px 10px #e98074 ;
    }
    .page1_data{
        height: 28rem;
        width: 20rem;
    }
    .page1_input{
        width: 17rem;
        height: 2.5rem;
        font-size: 1rem;
    }
    .button{
        height:35px ;
        width:13rem;
        padding: 5px;
    }
    .footer{
        font-size: 1.4rem;
    }
}
@media screen and (min-width:785px){
    .page1_button{
        width: initial;
    }
    .page1_container{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .page1_input{
        width: 20rem;
    }
    #submit-btn{
        top: 0%;
        font-size: 1.2rem;
    }
    .QRcode_title{
        font-size: 1.8rem;
        text-align: left;
    }
    .QRcode_img{
        width: 12rem;
    }
}

@media screen and (min-width:1024px)
{
    body{
        margin: 0;
    }
    .page1_container{
        height: 100vh;
    }
    .page1_img{
        width: 220px;
        height: 220px;
    }
    .page1_button{
        width: 25%;
    }
    .section{
        padding: 3rem 0 2rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .page1_data_media_query{
        margin-right: 16rem;
    }
    .page1_data{
        height: 35rem;
        width: 30rem;
    }
    .QR_container{
        margin-bottom: 4rem;
    }
    .page1_input{
        width: 25rem;
        height: 3rem;
        font-size: 14px;
    }
    .button{
        font-size: 1.1rem;

    }

   
}
